.tab-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.sections-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-top: 10rem;
}

.section-wrapper {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  text-align: center;
  margin-bottom: 2rem;
}

.section-title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-description {
  font-size: 1.125rem;
  color: #9ca3af;
}

.content-container {
  padding: 4rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.712);
  width: 80%;
  max-width: 56rem;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-content {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.button-wrapper {
  /* Add any specific styles for the button wrapper */
}

.addon-link-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.addon-icon-wrapper {
  /* Add any specific styles for the icon wrapper */
}

.navbar-link {
  /* Add styles for the link */
  text-decoration: none;
  color: white;
}
